<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>██GPT</title>
        <link rel="stylesheet" type=text/css href="../static/style.css">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    </head>

    <body style="background-color:#0097b2">
        
        <center>
            <img src="../static/RedactedGPT.png" width=60%>
        </center>
        {% autoescape false %}
        <p>{{inputScrubbed | safe}}</p>
        {% endautoescape %}
        
        <div class="container">
            <p class="typed">RedactedGPT: {{chatGPTAnswer}}</p>
        </div>
    
        
   
   
        
        
        
        
        
        
        
        <div class='console' height='600'>
            <form id='input' method='post' action='index'>
            <input class='run' type='text' name='input_text' placeholder='Ask RedactedGPT your question here' autocomplete="off"/>
                <input type="submit" value="Submit">
                
				</form>
</div>
        
        
    </body>

</html>